@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-forest: #1B3A2D;
  --color-honey: #C8861A;
  --color-cream: #FDFAF4;
}

body {
  background-color: #FDFAF4;
}

/* Smooth selection color */
::selection {
  background: #C8861A;
  color: white;
}
